{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}


   {% endblock title %}
</head>

<body>
{% block content %}
    {% if user.is_authenticated and not user.premiumuser.is_premium %}
        <div class="card-body" style="background-color: lightblue">
            <p>Si quiere acceder a todas las funcionalidades de asesoría financiera y análisis económicos debe activar su usuario premium.</p>
            <a class="button" href="#" >Activar usuario premium</a>
        </div>
    {% endif %}

    {% if user.is_authenticated and user.premiumuser.is_premium %}
        <textarea class="text" cols="50" rows="4"></textarea>
        <a class="button" href="#" >Contactar asesor</a>
    {% endif %}
{% endblock content%}
</body>
</html>