{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}

   {% endblock title %}
</head>

<body>
{% block content %}
        <div class="card-body" style="background-color: lightblue">
            <nav class="navbar navbar-light bg-light">
              <a href="{% url 'carteraahorro_list' %}"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Back</button></a>
            </nav>
            <a href="{% url "categoriamovimiento_create" %}">Agregar</a>
        </div>

        <table class="table table-striped table-hover" width="50px">
          <thead>
            <tr>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

          {% for record in object_list %}
            <tr>
              <td>{{ record.nombre }}</td>
              <td><a href="{% url "categoriamovimiento_edit" record.id %}">Editar</a></td>
              <td><a href="{% url "categoriamovimiento_delete" record.id %}">Eliminar</a></td>
            </tr>
          {% endfor %}

          </tbody>
        </table>

{% endblock content%}

{% block scripts %}

{% endblock scripts%}
</body>
</html>